@import "../../../../assets/styles/variables.scss";

.mat-expansion-panel {
	.according-title {
		width: 100%;
		text-align: center;
		align-items: flex-end;
		text-transform: uppercase;
		font-weight: bold;
	}

	.mat-expansion-panel-header {
		background-color: $light-gray;

		&:hover {
			background-color: $light-gray;
		}
	}

	.accordion-headers-align {
		.mat-expansion-panel-header-title {
			flex-basis: 0;
		}
		.mat-expansion-panel-header-description {
			flex-basis: 0;
			justify-content: space-between;
			align-items: flex-end;
		}
	}
}
