<div class="header">
    <div class="grid-3-spaceBetween-noGutter">
        <mat-toolbar color="primary">
            <!-- <div class="col header-content">
                <div class="navigation-button">
                    <button mat-icon-button (click)="toggleNav()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div> -->

            <div class="col header-content">
                <div class="app-title">
                    <a routerLink="/">
                       <img class="app-image" src="../../../../assets/images/logo/logo-white.png" alt="logo">
                    </a>
                </div>
            </div>

            <div class="col header-content">
                <div class="extra-button">
                    <a class="built-by" mat-raised-button  color="warn">
                       By Adil Hameed
                    </a>
                    <!--<button class="more" mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                     <mat-menu #menu="matMenu">
                        <button [matMenuTriggerFor]="support" mat-menu-item>
                            <mat-icon matSuffix>local_cafe</mat-icon>
                            <span>Buy Me Coffee</span>
                        </button>
                        <mat-menu #support="matMenu">
                            <button mat-menu-item disableRipple="true">
                                <a mat-flat-button  href="https://paypal.me/salmankhan18" target="_blank">PayPal</a>
                            </button>
                        </mat-menu>
                        <button mat-menu-item>
                            <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleDarkTheme()">
                                Dark Theme
                            </mat-slide-toggle>
                        </button>
                    </mat-menu> -->
                </div>
            </div>
        </mat-toolbar>
    </div>
</div>