@import "../../../../../assets/styles/variables.scss";

.corona-virus-map {
	height: calc(100vh - 4.6em);
	width: 100%;

	@media (max-width: 36em) {
		height: 50vh;
	}

	svg {
		height: 100%;
		width: 100%;
		fill: $map-country-color;
		stroke: #000;
		stroke-width: 0.12px;
		background: $map-background;
	}
}

.corona-virus-details {
	height: calc(100vh - 4.6em);

	@media (max-width: 36em) {
		height: 100%;
	}

	.corona-virus-cases {
		padding: 1em 1em 0 1em;
	}
}
