// Colors

$white: #fff;
$black: #000;
$gray: #808080;
$light-gray: #ddd;
$link-color: #807fe2;
$skeleton-loader-color: #5f5b5bc7;

$side-nav-width: 276px;

// Map
$map-country-color: #99c24d;
$map-background: #3a4c63;
