<mat-tab-group mat-stretch-tabs class="stretched-tabs mat-elevation-z4" *ngIf="detailTabs">
    <mat-tab label="{{detailTab.label}}" *ngFor="let detailTab of detailTabs">
        <div class="detail-tabs-wrapper">
            <div class="container">
                <div class="columns">
                    <div class="column col">
                        <img src="{{detailTab.image}}" class="img-fit-cover p-centered" alt="" width="250" height="250">
                    </div>

                    <div class="column col detail-tabs-paragraph">
                        <p>
                            {{ detailTab.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>